ul#loadbar {
	list-style:none;
	width:140px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:75px;
}
ul#loadbar li {
	float:left;
	position:relative;
	width:11px;
	height:26px;
	margin-left:1px;
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	background:#000;
}

ul#loadbar li:first-child { margin-left:0; }

.bar {
	background-color:#2187e7;  
	background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff); 
	background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
	width:11px;
	height:26px;
	opacity:0;
	-webkit-animation:fill .5s linear forwards;
	-moz-animation:fill .5s linear forwards;
}

#layerFill1 { -moz-animation-delay:0.5s; 
        -webkit-animation-delay:0.5s; -webkit-animation-iteration-count: 1; }
#layerFill2 { -moz-animation-delay:1s; 
        -webkit-animation-delay:1s; -webkit-animation-iteration-count: 1;}
#layerFill3 { -moz-animation-delay:1.5s; 
        -webkit-animation-delay:1.5s; -webkit-animation-iteration-count: 1;}
#layerFill4 { -moz-animation-delay:2s; 
        -webkit-animation-delay:2s; -webkit-animation-iteration-count: 1;}
#layerFill5 { -moz-animation-delay:2.5s; 
        -webkit-animation-delay:2.5s; -webkit-animation-iteration-count: 1;}
#layerFill6 { -moz-animation-delay:3s; 
        -webkit-animation-delay:3s; -webkit-animation-iteration-count: 1;}
#layerFill7 { -moz-animation-delay:3.5s; 
        -webkit-animation-delay:3.5s; -webkit-animation-iteration-count: 1;}
#layerFill8 { -moz-animation-delay:4s; 
        -webkit-animation-delay:4s; -webkit-animation-iteration-count: 1;}
#layerFill9 { -moz-animation-delay:4.5s; 
        -webkit-animation-delay:4.5s; -webkit-animation-iteration-count: 1;}
#layerFill10 { -moz-animation-delay:5s; 
        -webkit-animation-delay:5s; -webkit-animation-iteration-count: 1;}

@-moz-keyframes fill {
	0%{ opacity:0; }
	100%{ opacity:1; }	
}

@-webkit-keyframes fill {
	0%{ opacity:0; }
	100%{ opacity:1; }	
}